<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryanburke.cydelete</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PROTECTED_TITLE</string>
			<key>footerText</key>
			<string>PROTECTED_WARNING</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryanburke.cydelete</string>
			<key>key</key>
			<string>CDProtectCydia</string>
			<key>label</key>
			<string>Cydia</string>
			<key>icon</key>
			<string>Cydia.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryanburke.cydelete</string>
			<key>key</key>
			<string>CDProtectPangu</string>
			<key>label</key>
			<string>Pangu</string>
			<key>icon</key>
			<string>Pangu.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NO_DRM_DONATE_COPYRIGHT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>DONATE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>viewSource:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
		</dict>
	</array>
	<key>title</key>
	<string>CyDelete9</string>
</dict>
</plist>
