Package: com.ryanburke.cydelete
Name: CyDelete8
Depends: firmware (>=7.0), mobilesubstrate, preferenceloader, apt, bash
Version: 1.0.1
Architecture: iphoneos-arm
Description: Allows you to uninstall applications installed via Cydia from the Springboard just like AppStore applications. Just hold an icon down and tap on the X and the app will be uninstalled! This application is a new branch of the original CyDelete, created by @DHowett, bringing new support for iOS 8. Supports iOS 7 and 8.
Maintainer: Ryan Burke <ryan_burke@outlook.com>
Author: Ryan Burke <ryan_burke@outlook.com>
Section: Tweaks
Tag: purpose::extension, role::enduser