Package: com.ryanburke.cydeletex
Name: CyDelete X
Depends: firmware (>=10.0), mobilesubstrate, preferenceloader, apt, bash
Conflicts: net.howett.cydelete, com.sosiphone.cydeletefr, com.ryanburke.cydelete
Version: 1.0.0
Architecture: iphoneos-arm
Description: Allows you to uninstall applications installed via Cydia from the Springboard just like AppStore applications. Hold an icon down and tap on the X and the app will be uninstalled! Supports iOS 10.
Maintainer: Ryan Burke <ryan_burke@outlook.com>
Author: Ryan Burke <ryan_burke@outlook.com>
Section: Tweaks
dev: ryanb93
Tag: purpose::extension, role::enduser